# Required
ROLE=iran
LOCAL_PUBLIC_IP=203.0.113.10
REMOTE_PUBLIC_IP=198.51.100.20
PSK='CHANGE_ME_TO_A_LONG_RANDOM_SECRET'
LOCAL_TUN_IP=10.255.255.1/30
REMOTE_TUN_IP=10.255.255.2

# Optional LAN routing
LOCAL_LAN_CIDR=
REMOTE_LAN_CIDR=

# Optional port forwarding
# Format: proto,in_port,dst_ip,dst_port;proto,in_port,dst_ip,dst_port
FORWARD_RULES=
ENABLE_SNAT=false
PUBLIC_IF=
